@import url(https://fonts.googleapis.com/css?family=Varela+Round);
html{
	margin: 0px;
	width: 100%
	height:100%;
}
body{
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: 'Varela Round';
	background: #81CFE0;
}

#ingresar{
	text-align: left;
	padding-left: 13%;
	margin: 30px;
	margin-left: 0px;
}
canvas{
	border: 1px solid black;
	background: #FFF;
	margin-right: 10%;
}
.boton{
	color: #FFFFFF;
	font-size: 15px;
	height: 30px;
	width: 130px;
	margin: 10px;
	margin-top: 30px;
	margin-left: 0px;
	border-radius: 5px;
	border:1px solid #336E7B;
	background: #336E7B;
	box-shadow: rgb(52, 73, 94) 0px 3px;
	transition: transform 0.2s ease-in-out 0s;
}

.boton:hover{
	transform: scale(0.95);
}
#cantidad{
	font-size: 25px;
	height: 30px;
	width: 190px;
	border-radius: 5px;
	border:1px solid #FFFFFF;
}
#menu{
	background: #1F3A93;
	border: 1px solid #000000;
	text-align: left;
}
a{
	padding: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
	height: 30px;
	width: 130px;
	margin: 10px;
	margin-top: 30px;
	margin-left: 0px;
	border-radius: 5px;
	border:1px solid #3A539B;
	background: #3A539B;
	box-shadow: rgb(52, 73, 94) 0px 3px;
	transition: transform 0.2s ease-in-out 0s;
}

a:hover{
	transform: scale(0.95);
}
#titulo{
	display: block;
	margin: 0px;
	color: #FFFFFF;
	padding: 40px;
	background: #1F3A93;
}
p{
	margin: 5px;
	font-size: 20px;
}
#contenedor1{
	margin-top: 20px;
	float: left;
	text-align: right;
	height: 100%;
	width: 60%;
}
#contenedor2{
	margin-top: 200px;
	float: right;
	text-align: left;
	height: 100%;
	width: 40%;
}
h2{
	margin:50px;
	font-size: 50px;
}